/*---------------VARIABLES---------------*/
/*-----listas ejemplo------------*/
/*$font-size:

50px    1
30px    2
20px    3
10px    4

h1{
    font-size: nth($font-size, 3)
}*/
/* $ancho:720px;

img{
    width: $ancho / 2 +10;
}*/
/*$button:(
    --key - value (valor) 
    fondo-boton:black 
    bordes-boton:2px solid tomato
    color-texto:white
);

.boton{
    background-color: map-get($map: , $key: );
    border: map-get($button, bordes-boton);
    color: map-get($button, color-texto);
}*/
/*%flex{
    display: flex;
    justify-content:center;
    align-items:center;
}*/
/*ejemplo .contenedor{
    @include flex (flex,space-around, center);
}

//!condicionales

/*@mixin modos ($darkmode){
    @if $darkmode == black {
        border:solid 2px tomato
    }@else{
        border:solid 2px aqua
    }
}*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Quicksand', sans-serif; }

h2 {
  color: aliceblue; }

.servicios {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #790909 35%, red 100%); }

.quienes_somos {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #790909 35%, red 100%); }

.cotizacion {
  color: aliceblue; }

.clientes {
  color: aliceblue; }

.main p {
  color: aliceblue; }

.main2 p {
  color: aliceblue; }

span {
  color: #2b2727; }

/*----------CONTATCTANOS FORMULARIO ARREGLO-----*/
#contactanos {
  margin-top: 0px; }

/*----------COTIZACION FORMULARIO ARREGLO-----*/
#cotizacion {
  margin-top: 0px; }

/*---------------VARIABLES---------------*/
/*-----listas ejemplo------------*/
/*$font-size:

50px    1
30px    2
20px    3
10px    4

h1{
    font-size: nth($font-size, 3)
}*/
/* $ancho:720px;

img{
    width: $ancho / 2 +10;
}*/
/*$button:(
    --key - value (valor) 
    fondo-boton:black 
    bordes-boton:2px solid tomato
    color-texto:white
);

.boton{
    background-color: map-get($map: , $key: );
    border: map-get($button, bordes-boton);
    color: map-get($button, color-texto);
}*/
/*%flex{
    display: flex;
    justify-content:center;
    align-items:center;
}*/
/*ejemplo .contenedor{
    @include flex (flex,space-around, center);
}

//!condicionales

/*@mixin modos ($darkmode){
    @if $darkmode == black {
        border:solid 2px tomato
    }@else{
        border:solid 2px aqua
    }
}*/
/*---------------VARIABLES---------------*/
/*-----listas ejemplo------------*/
/*$font-size:

50px    1
30px    2
20px    3
10px    4

h1{
    font-size: nth($font-size, 3)
}*/
/* $ancho:720px;

img{
    width: $ancho / 2 +10;
}*/
/*$button:(
    --key - value (valor) 
    fondo-boton:black 
    bordes-boton:2px solid tomato
    color-texto:white
);

.boton{
    background-color: map-get($map: , $key: );
    border: map-get($button, bordes-boton);
    color: map-get($button, color-texto);
}*/
/*%flex{
    display: flex;
    justify-content:center;
    align-items:center;
}*/
/*ejemplo .contenedor{
    @include flex (flex,space-around, center);
}

//!condicionales

/*@mixin modos ($darkmode){
    @if $darkmode == black {
        border:solid 2px tomato
    }@else{
        border:solid 2px aqua
    }
}*/
header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #790909 35%, red 100%); }
  header nav div a {
    text-decoration: none;
    color: aliceblue;
    /*img{
                width: 20px;
                height: 20px;
                }*/ }
    header nav div a #main-icono {
      width: 72px;
      height: 72px;
      text-align: center; }
    header nav div a:hover {
      color: aliceblue;
      border-bottom: aliceblue solid; }
  header nav div div ul {
    /*list-style: none;*/
    display: flex;
    margin: 31px; }
    header nav div div ul li a {
      color: aliceblue;
      margin: 11px;
      padding: 1px;
      border-radius: 4px;
      font-size: medium; }
    header nav div div ul li .dropdown-menu {
      background: #020024;
      background: linear-gradient(90deg, #020024 0%, #790909 35%, red 100%); }

/*---------------VARIABLES---------------*/
/*-----listas ejemplo------------*/
/*$font-size:

50px    1
30px    2
20px    3
10px    4

h1{
    font-size: nth($font-size, 3)
}*/
/* $ancho:720px;

img{
    width: $ancho / 2 +10;
}*/
/*$button:(
    --key - value (valor) 
    fondo-boton:black 
    bordes-boton:2px solid tomato
    color-texto:white
);

.boton{
    background-color: map-get($map: , $key: );
    border: map-get($button, bordes-boton);
    color: map-get($button, color-texto);
}*/
/*%flex{
    display: flex;
    justify-content:center;
    align-items:center;
}*/
/*ejemplo .contenedor{
    @include flex (flex,space-around, center);
}

//!condicionales

/*@mixin modos ($darkmode){
    @if $darkmode == black {
        border:solid 2px tomato
    }@else{
        border:solid 2px aqua
    }
}*/
/*----------INDEX-------------------main------------------*/
main {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #790909 35%, red 100%); }
  main .main {
    background-image: url(../img/fondo-provisional.jpg);
    width: 100%;
    height: 87vh;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    justify-content: center; }
    main .main div {
      margin: 82px; }
      main .main div h2 {
        font-size: 60px;
        margin-bottom: 10px;
        font-weight: 500;
        border: solid aliceblue;
        padding: 10px;
        border-radius: 6px;
        font-family: 'Quicksand', sans-serif; }
      main .main div p {
        margin: 17px;
        font-size: 25px;
        font-weight: 465; }
      main .main div a {
        color: aliceblue;
        font-size: x-large;
        text-decoration: none;
        background: rgba(2, 0, 36, 0.308);
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.315) 0%, #790909 35%, rgba(255, 0, 0, 0.397) 100%);
        padding: 4px;
        margin: 20px;
        border-radius: 10px;
        font-family: 'Quicksand', sans-serif; }

/*----------INDEX-------------------main2------------------*/
.main2 {
  display: flex;
  align-items: center;
  margin: 41px 95px 41px 120px;
  border-radius: 10px; }
  .main2 div img {
    display: flex;
    width: 460px;
    height: 460px;
    padding: 0%;
    margin-right: 30px;
    border-radius: 10px;
    -webkit-box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75); }
  .main2 .main2__texto {
    font-size: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main2 .main2__texto h2 {
      margin-bottom: 10px;
      font-family: 'Quicksand', sans-serif;
      font-size: 43px; }
    .main2 .main2__texto p {
      margin-left: 30px; }
    .main2 .main2__texto a {
      margin-left: 33px;
      text-align: center;
      color: aliceblue;
      text-decoration: none;
      padding: 2px;
      border-radius: 20px;
      border: solid aliceblue;
      margin-top: 2px;
      font-weight: 700;
      font-size: 32px;
      font-family: 'Quicksand', sans-serif;
      transition-duration: 1s; }
      .main2 .main2__texto a:hover {
        background-color: aliceblue;
        color: #8b0520; }

/*----------INDEX-------------------servicios------------------*/
.servicios h2 {
  text-align: center;
  font-size: 43px;
  font-family: 'Quicksand', sans-serif;
  padding-top: 50px; }

.servicios .servicios__contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .servicios .servicios__contenedor div {
    text-align: center;
    color: #aa0202;
    margin: 50px;
    width: 320px;
    height: 520px;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75); }
    .servicios .servicios__contenedor div:hover {
      transition: 1.5s;
      transform: scale(1.05); }
    .servicios .servicios__contenedor div img {
      width: 320px;
      height: 320px;
      border-radius: 4px; }
    .servicios .servicios__contenedor div h3 {
      font-size: 20px;
      font-weight: bolder;
      font-family: 'Quicksand', sans-serif;
      text-transform: uppercase;
      margin-top: 4px;
      margin-bottom: 0px; }
    .servicios .servicios__contenedor div p {
      margin-bottom: 2px;
      font-size: 25px;
      font-weight: 410;
      padding-bottom: 12px; }
    .servicios .servicios__contenedor div .servicios__contenedor__reserva {
      color: aliceblue;
      background: #020024;
      background: linear-gradient(90deg, rgba(2, 0, 36, 0.883146) 0%, #790909 36%, red 100%);
      padding: 9px;
      text-decoration: none;
      border-radius: 9px;
      font-size: 20PX;
      font-weight: 700;
      font-family: 'Quicksand', sans-serif; }
      .servicios .servicios__contenedor div .servicios__contenedor__reserva:hover {
        color: aliceblue;
        background: #020024;
        background: linear-gradient(90deg, rgba(2, 0, 36, 0.883146) 0%, rgba(121, 9, 9, 0.705) 36%, rgba(255, 0, 0, 0.692) 100%); }

/*----------INDEX----------------------CONTACTANOS---------------*/
.formulario {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #790909 35%, red 100%);
  color: aliceblue;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em; }
  .formulario .formulario__content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }
    .formulario .formulario__content .formulario__contactanos {
      font-family: 'Quicksand', sans-serif;
      text-align: center;
      font-size: 43px; }
    .formulario .formulario__content .formulario__contact__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .formulario .formulario__content .formulario__contact__container .formulario__contact__form form {
        display: grid;
        grid-template-columns: 550px 550px; }
        .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p {
          margin: 0;
          padding: 1em; }
          .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p label {
            display: block; }
          .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p button {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: aliceblue;
            border-bottom: 1px solid aliceblue;
            border-radius: 6px;
            color: aliceblue;
            background-color: transparent;
            border: solid aliceblue;
            text-transform: uppercase;
            padding: 1em;
            border-radius: 30px; }
            .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p button:hover {
              background-color: aliceblue;
              color: #8b0520;
              transition-duration: 1.5s; }
            .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p button:focus {
              background-color: aliceblue;
              color: #8b0520;
              transition-duration: 1.5s; }
          .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p input {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: aliceblue;
            border-bottom: 1px solid aliceblue;
            border-radius: 6px; }
          .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p textarea {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: aliceblue;
            border-bottom: 1px solid aliceblue;
            border-radius: 6px; }
        .formulario .formulario__content .formulario__contact__container .formulario__contact__form form .block {
          grid-column: 1 / 3; }

/*----------------------------------CLIENTES PAGE-------------------------------*/
main .clientes video {
  width: 100%;
  display: block;
  margin-bottom: 80px;
  border-radius: 15px; }

main .clientes h1 {
  font-size: 43px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 11px;
  font-family: 'Quicksand', sans-serif;
  font-size: 47px;
  padding: 5px; }

main .clientes h4 {
  font-size: x-large;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 95px;
  margin-top: 50px; }

main .clientes .clientes__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  main .clientes .clientes__container img {
    text-align: center;
    width: 200px;
    border-radius: 200px;
    height: 200px; }

/*------------------------NOSOTROS-----------------------------------------------*/
main .quienes__somos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px; }
  main .quienes__somos div img {
    display: flex;
    width: 550px;
    height: 550px;
    padding: 0%;
    border-radius: 5px; }
  main .quienes__somos .quienes__somos__texto {
    color: aliceblue;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0s; }
    main .quienes__somos .quienes__somos__texto h3 {
      margin-bottom: 10px;
      font-family: 'Quicksand', sans-serif;
      font-size: 45px; }
    main .quienes__somos .quienes__somos__texto p {
      margin-left: 40px; }
    main .quienes__somos .quienes__somos__texto a {
      color: aliceblue;
      text-decoration: none;
      padding: 1px;
      border-radius: 11px;
      border: solid aliceblue;
      font-weight: 570;
      font-size: 30px;
      font-family: 'Quicksand', sans-serif;
      transition-duration: 1s; }
      main .quienes__somos .quienes__somos__texto a:hover {
        background-color: aliceblue;
        color: #8b0520; }

main .mensajeria {
  display: flex;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px; }
  main .mensajeria .mensajeria__empresarial img {
    width: 500px;
    height: 500px;
    padding: 0%;
    border-radius: 270px;
    -webkit-box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75); }
  main .mensajeria .mensajeria__empresarial__texto {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    width: 100%;
    color: aliceblue;
    font-size: 22px;
    margin-left: 20px;
    font-family: 'Quicksand', sans-serif; }
    main .mensajeria .mensajeria__empresarial__texto h3 {
      margin-bottom: 20px;
      font-size: 32px; }
    main .mensajeria .mensajeria__empresarial__texto p {
      margin-top: 10px;
      padding: 0px; }
    main .mensajeria .mensajeria__empresarial__texto a {
      color: aliceblue;
      text-decoration: none;
      padding: 7px;
      border-radius: 15px;
      border: solid aliceblue;
      font-weight: 700;
      font-size: 25px;
      font-family: 'Quicksand', sans-serif;
      transition-duration: 1s; }
      main .mensajeria .mensajeria__empresarial__texto a:hover {
        background-color: aliceblue;
        color: #8b0520; }

main .mensajeria2 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 100px; }
  main .mensajeria2 .mensajeria__alquiler img {
    width: 500px;
    height: 500px;
    margin-left: 20px;
    padding: 0%;
    border-radius: 270px;
    -webkit-box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75); }
  main .mensajeria2 .mensajeria__alquiler__texto {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    width: 100%;
    color: aliceblue;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif; }
    main .mensajeria2 .mensajeria__alquiler__texto h3 {
      margin-bottom: 20px;
      font-size: 32px; }
    main .mensajeria2 .mensajeria__alquiler__texto p {
      padding: 0px; }
    main .mensajeria2 .mensajeria__alquiler__texto a {
      color: aliceblue;
      text-decoration: none;
      padding: 7px;
      border-radius: 15px;
      border: solid aliceblue;
      font-weight: 700;
      font-size: 25px;
      font-family: 'Quicksand', sans-serif;
      transition-duration: 1s; }
      main .mensajeria2 .mensajeria__alquiler__texto a:hover {
        background-color: aliceblue;
        color: #8b0520; }

.formulario {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #790909 35%, red 100%);
  color: aliceblue;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em; }
  .formulario .formulario__content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em; }
    .formulario .formulario__content .formulario__contactanos {
      font-family: 'Quicksand', sans-serif;
      text-align: center;
      font-size: 43px; }
    .formulario .formulario__content .formulario__contact__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap; }
      .formulario .formulario__content .formulario__contact__container .formulario__contact__form form {
        display: grid;
        grid-template-columns: 550px 550px; }
        .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p {
          margin: 0;
          padding: 1em; }
          .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p label {
            display: block; }
          .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p button {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: aliceblue;
            border-bottom: 1px solid aliceblue;
            border-radius: 6px;
            color: aliceblue;
            background-color: transparent;
            border: solid aliceblue;
            text-transform: uppercase;
            padding: 1em;
            border-radius: 30px; }
            .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p button:hover {
              background-color: aliceblue;
              color: #8b0520;
              transition-duration: 1.5s; }
            .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p button:focus {
              background-color: aliceblue;
              color: #8b0520;
              transition-duration: 1.5s; }
          .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p input {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: aliceblue;
            border-bottom: 1px solid aliceblue;
            border-radius: 6px; }
          .formulario .formulario__content .formulario__contact__container .formulario__contact__form form p textarea {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: aliceblue;
            border-bottom: 1px solid aliceblue;
            border-radius: 6px; }
        .formulario .formulario__content .formulario__contact__container .formulario__contact__form form .block {
          grid-column: 1 / 3; }

/*---------------VARIABLES---------------*/
/*-----listas ejemplo------------*/
/*$font-size:

50px    1
30px    2
20px    3
10px    4

h1{
    font-size: nth($font-size, 3)
}*/
/* $ancho:720px;

img{
    width: $ancho / 2 +10;
}*/
/*$button:(
    --key - value (valor) 
    fondo-boton:black 
    bordes-boton:2px solid tomato
    color-texto:white
);

.boton{
    background-color: map-get($map: , $key: );
    border: map-get($button, bordes-boton);
    color: map-get($button, color-texto);
}*/
/*%flex{
    display: flex;
    justify-content:center;
    align-items:center;
}*/
/*ejemplo .contenedor{
    @include flex (flex,space-around, center);
}

//!condicionales

/*@mixin modos ($darkmode){
    @if $darkmode == black {
        border:solid 2px tomato
    }@else{
        border:solid 2px aqua
    }
}*/
/*---------------VARIABLES---------------*/
/*-----listas ejemplo------------*/
/*$font-size:

50px    1
30px    2
20px    3
10px    4

h1{
    font-size: nth($font-size, 3)
}*/
/* $ancho:720px;

img{
    width: $ancho / 2 +10;
}*/
/*$button:(
    --key - value (valor) 
    fondo-boton:black 
    bordes-boton:2px solid tomato
    color-texto:white
);

.boton{
    background-color: map-get($map: , $key: );
    border: map-get($button, bordes-boton);
    color: map-get($button, color-texto);
}*/
/*%flex{
    display: flex;
    justify-content:center;
    align-items:center;
}*/
/*ejemplo .contenedor{
    @include flex (flex,space-around, center);
}

//!condicionales

/*@mixin modos ($darkmode){
    @if $darkmode == black {
        border:solid 2px tomato
    }@else{
        border:solid 2px aqua
    }
}*/
@media screen and (min-width: 991px) {
  .own__class {
    display: flex;
    justify-content: center; }
    .own__class nav div div .navbar-nav .nav-item {
      margin: 0px 32px 20px 32px; } }

@media screen and (max-width: 470px) {
  main .main div h2 {
    font-size: 45px; }
  main .main div p {
    font-size: 25px; }
  main .main div a {
    font-size: 20px; } }

@media screen and (min-width: 1287px) {
  .main2 {
    margin: 41px 170px 41px 170px; } }

@media screen and (min-width: 1523px) {
  .main2 {
    margin: 41px 230px 41px 230px; } }

@media screen and (min-width: 1750px) {
  .main2 {
    margin: 41px 310px 41px 310px; } }

@media screen and (max-width: 1226px) {
  .main2 div img {
    width: 400px;
    height: 400px; }
  .main2 .main2__texto h2 {
    font-size: 35px; }
  .main2 .main2__texto p {
    font-size: 28px; }
  .main2 .main2__texto a {
    font-size: 28px;
    margin-top: 0px; } }

@media screen and (max-width: 1157px) {
  .main2 div img {
    width: 360px;
    height: 360px; }
  .main2 .main2__texto h2 {
    font-size: 35px;
    margin-right: 10px; }
  .main2 .main2__texto p {
    font-size: 25px; }
  .main2 .main2__texto a {
    font-size: 25px;
    margin-right: 10px; } }

@media screen and (max-width: 1068px) {
  .main2 {
    flex-direction: column; }
    .main2 div img {
      width: 500px;
      height: 500px;
      margin-bottom: 30px; }
    .main2 .main2__texto h2 {
      font-size: 40px;
      margin-right: 10px; }
    .main2 .main2__texto p {
      font-size: 30px; }
    .main2 .main2__texto a {
      font-size: 30px;
      margin-right: 10px; } }

@media screen and (max-width: 836px) {
  .main2 div img {
    width: 450px;
    height: 450px;
    margin-bottom: 30px; }
  .main2 .main2__texto h2 {
    font-size: 37px;
    margin-right: 10px; }
  .main2 .main2__texto p {
    font-size: 27px; }
  .main2 .main2__texto a {
    font-size: 27px;
    margin-right: 10px; } }

@media screen and (max-width: 799px) {
  .main2 div img {
    width: 400px;
    height: 400px;
    margin-bottom: 30px; }
  .main2 .main2__texto h2 {
    font-size: 37px;
    margin-right: 17px; }
  .main2 .main2__texto p {
    font-size: 27px; }
  .main2 .main2__texto a {
    font-size: 27px;
    margin-right: 10px; } }

@media screen and (max-width: 747px) {
  .main2 {
    margin-right: 30px;
    margin-left: 30px; }
    .main2 div img {
      display: none; }
    .main2 .main2__texto {
      margin-right: 10px; }
      .main2 .main2__texto h2 {
        font-size: 38px;
        margin-right: 17px; }
      .main2 .main2__texto p {
        font-size: 28px; }
      .main2 .main2__texto a {
        font-size: 28px;
        margin-right: 10px; } }

@media screen and (max-width: 459px) {
  .main2 .main2__texto {
    margin-right: 10px; }
    .main2 .main2__texto h2 {
      font-size: 34px;
      margin-right: 17px; }
    .main2 .main2__texto p {
      font-size: 24px; }
    .main2 .main2__texto a {
      font-size: 24px;
      margin-right: 10px; } }

@media screen and (max-width: 425px) {
  .main2 {
    margin-right: 20px;
    margin-left: 20px; }
    .main2 .main2__texto {
      margin-right: 10px; }
      .main2 .main2__texto h2 {
        font-size: 28px;
        margin-right: 17px; }
      .main2 .main2__texto p {
        font-size: 18px; }
      .main2 .main2__texto a {
        font-size: 18px;
        margin-right: 10px; } }

@media screen and (max-width: 659px) {
  .servicios h2 {
    font-size: 30px; }
  .servicios .servicios__contenedor div {
    width: 250px;
    height: 410px; }
    .servicios .servicios__contenedor div a img {
      width: 250px;
      height: 240px; }
    .servicios .servicios__contenedor div p {
      font-size: 19px; }
    .servicios .servicios__contenedor div h3 {
      font-size: 15px;
      font-weight: 900; }
    .servicios .servicios__contenedor div .servicios__contenedor__reserva {
      font-size: 15PX;
      font-weight: 700;
      padding: 7px; } }

@media screen and (max-width: 400px) {
  .servicios h2 {
    font-size: 25px; } }

@media screen and (max-width: 1205px) {
  .formulario .formulario__content .formulario__contact__container .formulario__contact__form form {
    display: grid;
    grid-template-columns: 420px 420px; } }

@media screen and (max-width: 952px) {
  .formulario .formulario__content .formulario__contact__container .formulario__contact__form form {
    display: grid;
    grid-template-columns: 320px 320px; } }

@media screen and (max-width: 740px) {
  .formulario .formulario__content .formulario__contact__container .formulario__contact__form form {
    display: grid;
    grid-template-columns: 220px 220px; } }

@media screen and (max-width: 565px) {
  .formulario .formulario__content .formulario__contactanos {
    font-size: 32px; } }

@media screen and (max-width: 540px) {
  .formulario .formulario__content .formulario__contact__container .formulario__contact__form form {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 390px) {
  .formulario .formulario__content .formulario__contactanos {
    text-align: center;
    font-size: 35px;
    margin: 0px; } }

@media screen and (max-width: 353px) {
  .formulario .formulario__content .formulario__contactanos {
    font-size: 24px; } }

@media screen and (min-width: 1400px) {
  main .quienes__somos {
    margin: 0px 170px 41px 170px; } }

@media screen and (max-width: 1470px) {
  .quienes__somos {
    flex-direction: column; }
    .quienes__somos img {
      margin-bottom: 30px; } }

@media screen and (max-width: 745px) {
  main .quienes__somos div img {
    width: 430px;
    height: 430px; } }

@media screen and (max-width: 617px) {
  main .quienes__somos div img {
    width: 350px;
    height: 350px; } }

@media screen and (max-width: 506px) {
  main .quienes__somos {
    margin-right: 10px;
    margin-left: 8px; }
    main .quienes__somos div img {
      display: none; } }

@media screen and (max-width: 410px) {
  main .quienes__somos .quienes__somos__texto h3 {
    font-size: 40px; } }

@media screen and (max-width: 1362px) {
  main .mensajeria {
    margin-right: 80px;
    margin-left: 80px;
    flex-direction: column; }
    main .mensajeria .mensajeria__empresarial img {
      margin-bottom: 35px; }
  main .mensajeria2 {
    margin-right: 60px;
    margin-left: 80px;
    flex-direction: column; }
    main .mensajeria2 .mensajeria__alquiler img {
      margin-bottom: 35px; } }

@media screen and (max-width: 670px) {
  main .mensajeria .mensajeria__empresarial img {
    height: 450px;
    width: 450px; }
  main .mensajeria2 .mensajeria__alquiler img {
    height: 450px;
    width: 450px; } }

@media screen and (max-width: 634px) {
  main .mensajeria {
    margin-right: 30px;
    margin-left: 10px; }
    main .mensajeria .mensajeria__empresarial img {
      display: none; }
  main .mensajeria2 {
    margin-right: 10px;
    margin-left: 30px; }
    main .mensajeria2 .mensajeria__alquiler img {
      display: none; } }

@media screen and (max-width: 517px) {
  main .mensajeria .mensajeria__empresarial__texto h3 {
    font-size: 30px; }
  main .mensajeria2 .mensajeria__alquiler__texto h3 {
    font-size: 30px; } }

@media screen and (max-width: 490px) {
  main .mensajeria .mensajeria__empresarial__texto h3 {
    font-size: 25px; }
  main .mensajeria .mensajeria__empresarial__texto h4 {
    font-size: 20px; }
  main .mensajeria .mensajeria__empresarial__texto p {
    font-size: 20px; }
  main .mensajeria .mensajeria__empresarial__texto a {
    font-size: 20px; }
  main .mensajeria2 .mensajeria__alquiler__texto h3 {
    font-size: 25px; }
  main .mensajeria2 .mensajeria__alquiler__texto h4 {
    font-size: 20px; }
  main .mensajeria2 .mensajeria__alquiler__texto p {
    font-size: 20px; }
  main .mensajeria2 .mensajeria__alquiler__texto a {
    font-size: 20px; } }

@media screen and (max-width: 415px) {
  main .mensajeria .mensajeria__empresarial__texto h3 {
    font-size: 20px; }
  main .mensajeria .mensajeria__empresarial__texto h4 {
    font-size: 15px; }
  main .mensajeria .mensajeria__empresarial__texto p {
    font-size: 15px; }
  main .mensajeria .mensajeria__empresarial__texto a {
    font-size: 15px; }
  main .mensajeria2 .mensajeria__alquiler__texto h3 {
    font-size: 20px; }
  main .mensajeria2 .mensajeria__alquiler__texto h4 {
    font-size: 15px; }
  main .mensajeria2 .mensajeria__alquiler__texto p {
    font-size: 15px; }
  main .mensajeria2 .mensajeria__alquiler__texto a {
    font-size: 15px; } }
