@import "./base/variables";

footer {
    width: 100%;
    padding: 50px 0px;
    *background-image: url(../img/background-footer.svg);
    *background-size: cover;
    /*background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%);*/
    background-color: $background-color;
    .container__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        margin-top: 80px;
        .box__footer1 {
            display: flex;
            flex-direction: column;
            padding: 40px;
            .logo {
                img {
                    width: 50px;
                }
            }
            .terms {
                max-width: 350px;
                margin-top: 20px;
                font-weight: 500;
                color: $words-color;
                font-size: 18px;
            }
            h2 {
                margin-bottom: 30px;
                color: $words-color;
                font-weight: 700;
            }
            a {
                margin-top: 10px;
                color: $words-color;
                font-weight: 600;
                text-decoration: none;
            }
            a {
                .fab {
                    font-size: 20px;
                }
            }
        }
        .box__footer {
            display: flex;
            flex-direction: column;
            padding: 40px;
            .logo {
                img {
                    width: 50px;
                }
            }
            .terms {
                max-width: 350px;
                margin-top: 20px;
                font-weight: 500;
                color: $words-color;
                font-size: 18px;
            }
            h2 {
                margin-bottom: 30px;
                color: $words-color;
                font-weight: 700;
            }
            a {
                margin-top: 10px;
                color: $words-color;
                font-weight: 600;
                text-decoration: none;
            }
            a {
                .fab {
                    font-size: 20px;
                }
            }
        }
    }
    .box__copyright {
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
        p {
            margin-top: 20px;
            color: $words-color;
        }
        hr {
            border: none;
            height: 1px;
            background-color: $words-color;
        }
    }
}