@import "./base/variables";


header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $background-color;

    nav {
        div {
            a {
                #main-icono {
                    width: 52px;
                    height: 52px;
                    text-align: center;
                }

                text-decoration: none;
                color: $words-color;
            }

            div {
                ul {
                    display: flex;
                    margin: 31px;

                    li {
                        a {
                            color: $words-color;
                            margin: 11px;
                            padding: 1px;
                            border-radius: 4px;
                            font-weight: 500;

                            &:hover {
                                background-color: $words-color;
                                color: $background-color;
                                border-radius: 20px;
                                transition: 0.3s;
                            }
                        }

                        .dropdown-menu {
                            background-color: $background-color;
                        }
                    }
                }
            }
        }
    }
}
