@import "./base/variables";

header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%);
    ;
    nav{
        div{
            a{
                #main-icono {
                    width: 72px;
                    height: 72px;
                    text-align: center;
                }
                text-decoration: none;
                color: $words-color;
                /*img{
                width: 20px;
                height: 20px;
                }*/
                &:hover{
                    color: aliceblue;
                    border-bottom: aliceblue solid;
                }
            }
            div{
                ul{
                    /*list-style: none;*/
                    display: flex;
                    margin: 31px;
                    li{
                        a{
                            color: $words-color;
                            margin: 11px;
                            padding: 1px;
                            border-radius: 4px;
                            font-size: medium
                        }
                        .dropdown-menu{
                            background: rgb(2, 0, 36);
                            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%)
                            ;
                        }
                    }
                }
            }
        }        
    }
}
