@import "../base/variables";

//!/*---------HEADER---------------------------------

.dropdown-menu {
    width: 210px;

    .dorpdown__cutomize {
        font-size: 14px;
    }
}


//!/*----------INDEX-------------------main------------------*/
video {
    width: 100%;
    display: block;
    margin-bottom: 80px;
}

main {
    background: rgb(2, 0, 36);
    background: $background-color;

    .main {
        div {
            margin: 82px;

            h2 {
                font-size: 60px;
                margin-bottom: 10px;
                font-weight: 500;
                border: solid $words-color;
                padding: 10px;
                border-radius: 6px;
                font-family: 'Quicksand', sans-serif;
            }

            p {
                margin: 17px;
                font-size: 25px;
                font-weight: 465;
            }

            a {
                color: $words-color;
                font-size: x-large;
                text-decoration: none;
                background: rgba(2, 0, 36, 0.308);
                background: $background-color;
                background-color: rgba(204, 18, 18, 0.774);
                padding: 4px;
                margin: 20px;
                border-radius: 10px;
                font-family: 'Quicksand', sans-serif;
            }
        }
    }
}

//!/*----------INDEX-------------------main2------------------*/

.main2 {
    @include flex-basic(flex, center, center);
    margin: $main-margin;
    border-radius: $main-border-radius;
    background-color: $words-color;

    div {
        img {
            display: flex;
            width: 460px;
            height: 460px;
            padding: $main-padding;
            margin-right: 30px;
            border-radius: $main-border-radius;
        }
    }

    .main2__texto {
        font-size: 20px;
        @include flex-column(center, center);

        h2 {
            margin-bottom: 10px;
            font-family: $main-font;
            font-size: 38px;
            color: $background-color;
            font-weight: 650;
        }

        p {
            margin: 0 0 20px 0;
            font-size: 21px;
            line-height: 1.5;
            font-family: $main-font;
            color: black;
        }

        a {
            display: inline-block;
            background-color: $words-color;
            color: $background-color;
            text-transform: uppercase;
            font-size: 0.9em;
            font-weight: bold;
            padding: 0.5em 1.3em;
            border-radius: 30px;
            transition: background-color 0.3s ease-in-out;
            color: $words-color;
            background-color: $background-color;

            &:hover {
                background-color: darken($background-color, 10%);
            }
        }
    }
}






//!/*----------INDEX-------------------servicios------------------*/

.servicios {
    h2 {
        text-align: center;
        font-size: 30px;
        font-family: 'Quicksand', sans-serif;
        padding-top: 50px;
    }

    .servicios__contenedor {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        div {
            text-align: center;
            color: $background-color;
            margin: 50px;
            width: 300px;
            height: 370px;
            background-color: $words-color;
            border-radius: 8px;
            box-shadow: -1px 2px 22px 0px rgba(0, 0, 0, 0.75);
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
                box-shadow: -1px 2px 32px 0px rgba(0, 0, 0, 0.85);
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 4px 4px 0 0;
            }

            h3 {
                font-size: 19px;
                font-weight: bold;
                font-family: 'Quicksand', sans-serif;
                text-transform: uppercase;
                margin-top: 10px;
                margin-bottom: 0;
            }

            p {
                text-align: center;
                margin-bottom: 10px;
                font-size: 1.2em;
                font-weight: 430;
                margin-left: 5px;
                margin-right: 5px;
                color: black;
            }

            .servicios__contenedor__reserva {
                color: $words-color;
                background-color: $background-color;
                padding: 5px 10px;
                text-decoration: none;
                border-radius: 20px;
                font-size: 15px;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                transition-duration: 0.3s;

                &:hover {
                    background-color: rgb(139, 5, 32);
                    color: aliceblue;
                }
            }
        }
    }
}

.whatsapp {
    a {
        img {
            position: fixed;
            bottom: 10%;
            right: 2%;
            width: 50px;
            height: 50px;

            &:hover {
                transition: 0.7s;
                transform: scale(1.05);
            }
        }
    }
}

//!/*----------INDEX----------------------CONTACTANOS---------------*/

.form_img {
    div {
        img {
            background-image: url(../img/fondo-provisional.jpg);
            width: 100%;
            height: 87vh;
            max-height: 60vh;
            text-align: center;
            display: flex;
            justify-content: center;
        }
    }
}


.formulario1 {
    background-color: $background-color;
    color: $words-color;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;

    .formulario__content {
        background-color: $background-color;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;

        .formulario__contactanos {
            font-family: 'Quicksand', sans-serif;
            text-align: center;
            font-size: 43px;
        }

        .formulario__contact__container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .formulario__contact__form {
                form {
                    display: grid;
                    grid-template-columns: 550px 550px;


                    p {
                        margin: 0;
                        padding: 1em;

                        label {
                            display: block;
                        }

                        button[type="submit"] {
                            width: 100%;
                            padding: 1em;
                            border: none;
                            border-radius: 30px;
                            text-transform: uppercase;
                            background-color: $words-color;
                            color: $background-color;
                            font-weight: bold;
                            transition: background-color 0.3s ease-in-out;

                            &:hover {
                                background-color: rgb(139, 5, 32);
                                color: $words-color;
                                cursor: pointer;
                                transition-duration: 0s;
                            }
                        }

                    }

                    input {
                        width: 100%;
                        padding: .7em;
                        border: none;
                        background: none;
                        outline: 0;
                        color: aliceblue;
                        border-bottom: 1px solid aliceblue;
                        border-radius: 6px;
                    }

                    textarea {
                        width: 100%;
                        padding: .7em;
                        border: none;
                        background: none;
                        outline: 0;
                        color: aliceblue;
                        border-bottom: 1px solid aliceblue;
                        border-radius: 6px;
                    }
                }

                .block {
                    grid-column: 1 / 3;
                }
            }
        }
    }
}




//!---------------------------------CLIENTES PAGE------------------------------//
//!/*----------------------------------CLIENTES PAGE-------------------------------*/

.container {
    background-color:rgba(245, 245, 245, 0.918);
    padding-top: 2rem;
    border-radius: 10px;

    h1 {
        color: $background-color;
        margin-bottom: 3rem;
        text-align: center;
        font-size: 2.5rem;

        &+p {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 2rem;
            color: $text-color;
        }
    }

    h4 {
        margin-bottom: 2rem;
        text-align: center;
        color: black;
        margin-bottom: 3rem;
        font-size: 25px;
    }
}

.card-body {
    padding: 0;
}


.row {
    justify-content: center;
}

.col {
    margin-bottom: 2rem;

    img {
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    .card-title {
        font-size: 1.25rem;
        color: black;
    }
}



//!------------------------NOSOTROS----------------------------------------------//
//!/*------------------------NOSOTROS-----------------------------------------------*/

main {
    .quienes__somos {
        @include flex-clasic(flex, center, space-around);
        margin-left: 60px;
        margin-right: 60px;

        div {
            img {
                margin-top: 50px;
                display: flex;
                width: 550px;
                height: 550px;
                padding: 0%;
                margin-bottom: 0px;
            }
        }

        .quienes__somos__texto {
            margin-top: 50px;
            background-color: $words-color;
            color: $background-color;
            height: 550px;
            font-size: 23px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0s;

            h3 {
                margin-bottom: 20px;
                font-family: 'Quicksand', sans-serif;
                font-size: 45px;
            }

            p {
                margin-left: 40px;
            }

            a {
                &:hover {
                    background-color: aliceblue;
                    color: rgb(139, 5, 32);
                }

                color: aliceblue;
                margin-top: 15px;
                text-decoration: none;
                padding: 1px;
                border-radius: 11px;
                border: solid aliceblue;
                font-weight: 570;
                font-size: 30px;
                font-family: 'Quicksand',
                sans-serif;
                transition-duration: 1s;

                // Estilos para el botón
                background-color: $background-color;
                color: $words-color;
                padding: 5px 10px;
                border: none;
                border-radius: 20px;
                font-size: 18px;
                font-weight: bold;
                text-transform: uppercase;
                cursor: pointer;
                transition-duration: 0.3s;

                &:hover {
                    background-color: rgb(139, 5, 32);
                    color: aliceblue;
                }
            }
        }
    }
}






//!-------------------------SERVICIOS PAGE----------------------------------------!//

main {
    .mensajeria {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        background-color: $words-color;


        &__empresarial {
            max-width: 50%;
            margin-right: 2em;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 400px;
                height: 550px;
                margin-left: 1em;
                border-radius: 10px;
            }
        }

        &__empresarial__texto {
            margin-right: 2em;
            /* Add margin to make space even */

            h3 {
                color: $background-color;
                font-size: 2em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0.5em;

                span {
                    color: #2b2727;
                }
            }

            h4 {
                color: black;
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 0.5em;
            }

            p {
                color: black;
                font-size: 1.1em;
                margin-bottom: 1.5em;
            }

            a {
                display: inline-block;
                background-color: $background-color;
                color: $words-color;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: bold;
                padding: 0.8em 1.5em;
                border-radius: 30px;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    color: $words-color;
                    background-color: darken(#e30613, 10%);
                }
            }
        }
    }
}






main {
    .mensajeria2 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        background-color: $words-color;


        &__alquiler {
            max-width: 50%;
            margin-right: 2em;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 400px;
                height: 550px;
                border-radius: 10px;
            }
        }

        &__alquiler__texto {
            margin-right: 2em;
            /* Add margin to make space even */
            margin-left: 1em;

            h3 {
                color: $background-color;
                font-size: 2em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0.5em;

                span {
                    color: #2b2727;
                }
            }

            h4 {
                color: black;
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 0.5em;
            }

            p {
                color: black;
                font-size: 1.1em;
                margin-bottom: 1.5em;
            }

            a {
                display: inline-block;
                background-color: $background-color;
                color: $words-color;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: bold;
                padding: 0.8em 1.5em;
                border-radius: 30px;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    color: $words-color;
                    background-color: darken(#e30613, 10%);
                }
            }
        }
    }
}

main {
    .Personas {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em;
        background-color: $words-color;

        &__rent {
            max-width: 50%;
            margin-right: 2em;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 400px;
                height: 480px;
                margin-left: 1em;
                border-radius: 10px;
            }
        }

        &__rent__texto {
            margin-right: 2em;
            /* Add margin to make space even */

            h3 {
                color: $background-color;
                font-size: 2em;
                font-weight: bold;
                text-transform: uppercase;
                margin-bottom: 0.5em;

                span {
                    color: #2b2727;
                }
            }

            h4 {
                color: black;
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 0.5em;
            }

            p {
                color: black;
                font-size: 1.1em;
                margin-bottom: 1.5em;
            }

            a {
                display: inline-block;
                background-color: $background-color;
                color: $words-color;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: bold;
                padding: 0.8em 1.5em;
                border-radius: 30px;
                transition: background-color 0.3s ease-in-out;

                &:hover {
                    color: $words-color;
                    background-color: darken(#e30613, 10%);
                }
            }
        }
    }
}

//!-------------------------NOSOTROS PAGE----------------------------------------!//
.formulario1 {
    color: aliceblue;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;

    .formulario__content {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;

        .formulario__contactanos {
            margin-top: 30px;
            font-family: 'Quicksand', sans-serif;
            text-align: center;
            font-size: 30px;
        }

        .formulario__contact__container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .formulario__contact__form {
                form {
                    display: grid;
                    grid-template-columns: 550px 550px;

                    p {
                        margin: 0;
                        padding: 1em;

                        label {
                            display: block;
                        }

                        button {
                            width: 100%;
                            padding: .7em;
                            border: none;
                            background: none;
                            outline: 0;
                            color: aliceblue;
                            border-bottom: 1px solid aliceblue;
                            border-radius: 6px;
                            color: aliceblue;
                            background-color: transparent;
                            border: solid aliceblue;
                            text-transform: uppercase;
                            padding: 1em;
                            border-radius: 30px;

                            &:hover {
                                background-color: aliceblue;
                                color: rgb(139, 5, 32);
                                transition-duration: 1.5s;
                            }

                            &:focus {
                                background-color: aliceblue;
                                color: rgb(139, 5, 32);
                                transition-duration: 1.5s;
                            }
                        }

                        input {
                            width: 100%;
                            padding: .7em;
                            border: none;
                            background: none;
                            outline: 0;
                            color: aliceblue;
                            border-bottom: 1px solid aliceblue;
                            border-radius: 6px;
                        }

                        textarea {
                            width: 100%;
                            padding: .7em;
                            border: none;
                            background: none;
                            outline: 0;
                            color: aliceblue;
                            border-bottom: 1px solid aliceblue;
                            border-radius: 6px;
                        }
                    }

                    .block {
                        grid-column: 1 / 3;
                    }
                }
            }
        }
    }
}

//!----------------------------TRABAJA-------------------------------------------------!//

.form__drivers {
    display: flex;
    justify-content: center;
    align-items: center;

    .application_form {
        max-width: 500px;
        padding: 20px;
        background-color: $background-color;
        color: $words-color;
        border-radius: 5px;

        h2 {
            margin-top: 30px;
            margin-bottom: 20px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            font-weight: 300;

            .form-label {
                margin-bottom: 0.5rem;
            }

            .form-control {
                width: 100%;
                padding: 0.375rem 0.75rem;
                font-size: 1rem;
                line-height: 1.5;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            }

            .form-control-file {
                display: block;
            }
        }

        .btn {
            display: block;
            margin-top: 1rem;
            // Estilos para el botón
            background-color: $words-color;
            color: $background-color;
            padding: 5px 10px;
            border: none;
            border-radius: 10px;
            font-size: 15px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            transition-duration: 0.3s;

            &:hover {
                background-color: rgb(139, 5, 32);
                color: aliceblue;
            }
        }
    }
}