* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    color: aliceblue;
}

.servicios {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%);
}

.quienes_somos {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%);
}

.cotizacion {
    color: aliceblue;
}

.clientes {
    color: aliceblue;
}

.main p {
    color: aliceblue;
}

.main2 p {
    color: aliceblue;
}