
@import "../base/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Quicksand', sans-serif;
}

h2 {
    color: $words-color;
}

.servicios {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%);
}

.quienes_somos {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 9, 1) 35%, rgba(255, 0, 0, 1) 100%);
}

.cotizacion {
    color: $words-color;
}

.clientes {
    color: $words-color;
}

.main p {
    color: $words-color;
}

.main2 p {
    color: $words-color;
}

span {
    color: #2b2727;
}

//!/*----------CONTATCTANOS FORMULARIO ARREGLO-----*/
#contactanos {
    margin-top: 0px;
}

//!/*----------COTIZACION FORMULARIO ARREGLO-----*/
#cotizacion {
    margin-top: 0px;
}