@import "./base/variables";

//!------------------------------Mediaquerys---------------------------------------!//
//!------------------------------HEADER--------------------------------------------!//
@media screen and (min-width:991px) {
    .own__class {
        display: flex;
        justify-content: center;

        nav {
            padding: 5px;

            div {
                div {
                    .navbar-nav {
                        margin-top: 12px;
                        margin-bottom: 10px;

                        .nav-item {
                            margin-right: 30px;
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }
}



//!---------------------------------INDEX-MAIN-------------------------------------!//

@media screen and (max-width:717px) {
    main {
        .main {
            div {
                h2 {
                    font-size: 45px;
                }

                p {
                    font-size: 25px;
                }

                a {
                    font-size: 20px;
                }
            }
        }
    }

}




@media screen and (max-width:530px) {
    main {
        .main {
            div {
                h2 {
                    font-size: 37px;
                }

                p {
                    font-size: 22px;
                }

                a {
                    font-size: 17px;
                }
            }
        }
    }

}

@media screen and (max-width:475px) {
    main {
        .main {
            div {
                h2 {
                    font-size: 32px;
                }

                p {
                    font-size: 14px;
                }

                a {
                    font-size: 12px;
                }
            }
        }
    }

}



//!-------------------------------INDEX-MAIN2--------------------------------------!//
@media screen and (min-width:1287px) {
    .main2 {
        margin: 41px 170px 41px 170px;
    }
}

@media screen and (min-width:1523px) {
    .main2 {
        margin: 41px 230px 41px 230px;
    }
}

@media screen and (min-width:1750px) {
    .main2 {
        margin: 41px 310px 41px 310px;
    }
}

//!-------------------------MOBILE----------------------!//
@media screen and (max-width:1195px) {
    .main2 {
        flex-direction: column;
        background-color: $background-color;
        color: $words-color;

        div {
            img {
                margin-bottom: 15px;
            }
        }

        .main2__texto {
            h2 {
                color: $words-color;
            }

            p {
                color: $words-color;
            }

            a {
                color: $background-color;
                background-color: $words-color;

                &:hover {
                    color: $words-color;
                    background-color: darken($secondary-color, 10%);
                }
            }
        }
    }
}



@media screen and (max-width:849px) {
    .main2 {
        div {
            img {
                width: 350px;
                height: 350px;
                margin-bottom: 15px;
            }
        }

        .main2__texto {
            h2 {
                font-size: 32px;
                font-weight: 535;
            }

            a {
                font-size: 0.8em;
                padding: 0.3em 1.1em;

            }
        }
    }
}


@media screen and (max-width:627px) {
    .main2 {
        div {
            img {
                width: 250px;
                height: 250px;
                margin-bottom: 15px;
            }
        }

        .main2__texto {



            h2 {
                font-size: 28px;
                font-weight: 535;
            }

            p {
                font-size: 18px;
            }

            a {
                font-size: 0.8em;
                padding: 0.3em 1.1em;

            }
        }
    }
}


@media screen and (max-width:593px) {
    .main2 {
        margin-right: 10px;
        margin-left: 32px;

        .main2__texto {
            margin-right: 10px;

            h2 {
                font-size: 28px;
            }

            p {
                font-size: 18px;
            }

            a {
                font-size: 0.7em;
                padding: 0.2em 1.0em;

            }
        }
    }
}



@media screen and (max-width:350px) {
    .main2 {
        .main2__texto {
            h2 {
                font-size: 23px;
            }

            p {
                font-size: 15px;
            }

            a {
                font-size: 0.7em;
                padding: 0.2em 1.0em;

            }
        }
    }
}

//!-------------------INDEX-SERVICIOS------------------------------!//


@media screen and (max-width:405px) {
    .servicios {
        h2 {
            font-size: 28px;
        }

        .servicios__contenedor {
            div {
                width: 280px;
                height: 350px;

                img {
                    width: 100%;
                    height: 190px;
                }

                h3 {
                    font-size: 17px;
                }

                p {

                    font-size: 1.1em;

                }

                .servicios__contenedor__reserva {
                    font-size: 13px;
                }
            }
        }
    }
}


@media screen and (max-width:379px) {
    .servicios {
        h2 {
            font-size: 26px;
        }

        .servicios__contenedor {
            div {
                width: 240px;
                height: 310px;

                img {
                    width: 100%;
                    height: 170px;
                }

                h3 {
                    font-size: 14px;
                }

                p {

                    font-size: 0.9em;

                }

                .servicios__contenedor__reserva {
                    font-size: 10px;
                }
            }
        }
    }
}



@media screen and (max-width:325px) {
    .servicios {
        h2 {
            font-size: 23px;
        }

        .servicios__contenedor {
            div {
                width: 210px;
                height: 260px;

                img {
                    width: 100%;
                    height: 140px;
                }

                h3 {
                    font-size: 12px;
                }

                p {

                    font-size: 0.8em;

                }

                .servicios__contenedor__reserva {
                    font-size: 8px;
                }
            }
        }
    }
}

//!----------------INDEX-FORMULARIO----------------------!//

@media screen and (max-width:1650px) {
    .formulario1 {
        .formulario__content {
            .formulario__contact__container {
                .formulario__contact__form {
                    form {
                        display: grid;
                        grid-template-columns: 330px 330px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:952px) {
    .formulario1 {
        .formulario__content {
            .formulario__contact__container {
                .formulario__contact__form {
                    form {
                        display: grid;
                        grid-template-columns: 320px 320px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:740px) {
    .formulario1 {
        .formulario__content {
            .formulario__contact__container {
                .formulario__contact__form {
                    form {
                        display: grid;
                        grid-template-columns: 220px 220px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:565px) {
    .formulario1 {
        .formulario__content {
            .formulario__contactanos {
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width:540px) {
    .formulario1 {
        .formulario__content {
            .formulario__contact__container {
                .formulario__contact__form {
                    form {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:390px) {
    .formulario1 {
        .formulario__content {
            .formulario__contactanos {
                text-align: center;
                font-size: 35px;
                margin: 0px;
            }
        }
    }
}

@media screen and (max-width:353px) {
    .formulario1 {
        .formulario__content {
            .formulario__contactanos {
                font-size: 24px;
            }
        }
    }
}

//!----------------------NOSOSTRSO-------------------------!//
//!-------------------MOBILE---------------------------!//


@media screen and (max-width:1403px) {
    main {
        .quienes__somos {
            flex-direction: column;
            margin-left: 0.5em;
            margin-right: 1em;

            .quienes__somos__texto {
                margin-top: 0px;
                background-color: $background-color;
                color: $words-color;

                a {
                    // Estilos para el botón
                    background-color: $words-color;
                    color: $background-color;
                }
            }
        }
    }
}


@media screen and (max-width:690px) {
    main {
        .quienes__somos {
            div {
                img {
                    width: 420px;
                    height: 420px;
                }
            }

            .quienes__somos__texto {
                font-size: 20px;
            }
        }
    }
}


@media screen and (max-width:570px) {
    main {
        .quienes__somos {
            margin-left: 0em;

            div {
                img {
                    width: 330px;
                    height: 330px;
                }
            }

            .quienes__somos__texto {
                font-size: 18px;

                h3 {
                    font-size: 30px;
                }
            }
        }
    }
}


@media screen and (max-width:445px) {
    main {
        .quienes__somos {

            margin-right: 1em;

            div {
                img {
                    width: 240px;
                    height: 240px;
                }
            }

            .quienes__somos__texto {
                font-size: 15px;

                h3 {
                    font-size: 28px;
                }

                a {
                    font-size: 12px;
                }
            }
        }
    }
}

//!--------------------SERVICIOS-------------------------!//

@media screen and (max-width: 1340px) {
    main {
        .mensajeria {
            flex-direction: column;

            img {
                margin-bottom: 20px;
            }

            div {
                .mensajeria__empresarial__texto {
                    margin-left: 1em;
                    margin-right: 0px;
                }
            }
        }

        .mensajeria2 {
            flex-direction: column;


            img {
                margin-bottom: 20px;
                margin-left: 1.5em;
            }

            div {
                .mensajeria2__alquiler__texto {
                    margin-left: 1em;
                    margin-right: 0px;
                }
            }
        }

        .Personas {
            flex-direction: column;

            img {
                margin-bottom: 20px;
                margin-left: 1.5em;
            }

            div {
                .Personas__rent__texto {
                    margin-left: 1em;
                    margin-right: 0px;
                }
            }
        }
    }
}

///////////////////////////////////////////////////////


@media screen and (max-width: 650px) {
    main {
        .mensajeria {
            div {
                .mensajeria__empresarial__texto {
                    h3 {
                        font-size: 1.8em;
                    }

                    a {
                        padding: 0.5em 1.3em;
                    }
                }
            }
        }

        .mensajeria2 {

            div {
                .mensajeria2__alquiler__texto {
                    h3 {
                        font-size: 1.8em;
                    }

                    a {
                        padding: 0.5em 1.3em;
                    }
                }
            }
        }

        .Personas {

            div {
                .Personas__rent {
                    h3 {
                        font-size: 1.8em;
                    }

                    a {
                        padding: 0.5em 1.3em;
                    }
                }
            }
        }
    }
}


/////////////////////////////////////////////////////////


@media screen and (max-width: 540px) {
    main {
        .mensajeria {
            &__empresarial {
                img {
                    width: 350px;
                    height: 450px;
                }
            }

            div {
                .mensajeria__empresarial__texto {
                    margin-left: 0.5em;

                    h3 {
                        font-size: 1.8em;
                    }

                    a {
                        padding: 0.5em 1.3em;
                    }
                }
            }
        }

        .mensajeria2 {
            &__alquiler {
                img {
                    width: 350px;
                    height: 450px;
                }
            }

            div {
                .mensajeria2__alquiler__texto {
                    margin-left: 0.5em;

                    h3 {
                        font-size: 1.8em;
                    }

                    a {
                        padding: 0.5em 1.3em;
                    }
                }
            }
        }

        .Personas {
            &__rent {
                img {
                    width: 350px;
                    height: 450px;
                }
            }

            div {
                .Personas__rent__texto {
                    margin-left: 0.5em;

                    h3 {
                        font-size: 1.8em;
                    }

                    a {
                        padding: 0.5em 1.3em;
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////


@media screen and (max-width: 420px) {
    main {
        .mensajeria {
            &__empresarial {
                img {
                    width: 200px;
                    height: 300px;
                }
            }

            div {
                .mensajeria__empresarial__texto {
                    margin-left: 0.1em;


                    h3 {
                        font-size: 1.1em;
                    }

                    h4 {
                        font-size: 0.9em;
                    }

                    p {
                        font-size: 0.7em;
                    }

                    a {
                        padding: 0.1em 0.8em;
                        font-size: 0.7em;
                    }
                }
            }
        }

        .mensajeria2 {
            &__alquiler {
                img {
                    width: 200px;
                    height: 300px;
                }
            }

            div {
                .mensajeria2__alquiler__texto {
                    margin-left: 0.1em;

                    h3 {
                        font-size: 1.1em;
                    }

                    h4 {
                        font-size: 0.9em;
                    }

                    p {
                        font-size: 0.7em;
                    }

                    a {
                        padding: 0.1em 0.8em;
                        font-size: 0.7em;
                    }
                }
            }
        }

        .Personas {
            &__rent {
                img {
                    width: 200px;
                    height: 300px;
                }
            }

            div {
                .Personas__rent__texto {
                    margin-left: 0.1em;


                    h3 {
                        font-size: 1.1em;
                    }

                    h4 {
                        font-size: 0.9em;
                    }

                    p {
                        font-size: 0.7em;
                    }

                    a {
                        padding: 0.1em 0.8em;
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
}



//!-----------------FOOTER--------------------------!//

@media screen and (max-width:1500px) {
    footer {
        #remove {
            display: none;
        }
    }
}

@media screen and (max-width:930px) {
    footer {
        #remove {
            display: inline-block;

            a {
                display: flex;
                flex-direction: column;
            }
        }
    }
}



@media screen and (max-width:643px) {
    footer {
        .container__footer {
            .box__footer1 {
                margin: 0% 15% 0% 13%;

                .logo {
                    img {
                        margin: 0% 40% 0% 40%;
                    }
                }
            }
        }

    }
}

@media screen and (max-width:534px) {
    footer {
        .container__footer {
            .box__footer1 {
                display: none;
            }
        }
    }
}

@media screen and (max-width:400px) {
    footer {
        .container__footer {
            .box__footer {
                margin: 0% 5% 0% 22%;
            }
        }
    }
}

//!------------------Clientes-------------------------!//

/*@media screen and (max-width:386px) {
    main {
        .clientes {
            h1 {
                font-size: 38px;
            }

            h4 {
                font-size: 18px;
            }
        }
    }
}*/

@media screen and (max-width: 768px) {
    .clientes {
        h1 {
            font-size: 20px;
        }

        h5 {
            margin-left: 20px;
            margin-right: 20px;
        }

        .clientes__container {
            img {
                width: 150px;
                height: 150px;
            }

            h2 {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .clientes {
        h1 {
            font-size: 25px;
        }

        h5 {
            margin-left: 10px;
            margin-right: 10px;
        }

        .clientes__container {
            img {
                width: 100px;
                height: 100px;
            }

            h2 {
                font-size: 14px;
            }
        }
    }
}


//!---------------------Trabaja--------------------------------!//

@media (max-width: 400px) {
    .form__drivers {
        flex-direction: column;
        align-items: stretch;
    }

    .application_form {
        max-width: 100%;
        margin: 0 10px;
    }

    .form-group {
        margin-bottom: 15px;
    }
}