@import "./base/variables";

//!------------------------------Mediaquerys---------------------------------------!//
//!------------------------------HEADER--------------------------------------------!//
@media screen and (min-width:991px) {
    .own__class {
        display: flex;
        justify-content: center;

        nav {
            padding: 5px;

            div {
                div {
                    .navbar-nav {
                        margin-top: 12px;
                        margin-bottom: 10px;

                        .nav-item {
                            margin-right: 30px;
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }
}



//!---------------------------------INDEX-MAIN-------------------------------------!//

@media screen and (max-width:717px) {
    main {
        .main {
            div {
                h2 {
                    font-size: 45px;
                }

                p {
                    font-size: 25px;
                }

                a {
                    font-size: 20px;
                }
            }
        }
    }

}




@media screen and (max-width:530px) {
    main {
        .main {
            div {
                h2 {
                    font-size: 37px;
                }

                p {
                    font-size: 22px;
                }

                a {
                    font-size: 17px;
                }
            }
        }
    }

}

@media screen and (max-width:475px) {
    main {
        .main {
            div {
                h2 {
                    font-size: 32px;
                }

                p {
                    font-size: 14px;
                }

                a {
                    font-size: 12px;
                }
            }
        }
    }

}



//!-------------------------------INDEX-MAIN2--------------------------------------!//
@media screen and (min-width:1287px) {
    .main2 {
        margin: 41px 170px 41px 170px;
    }
}

@media screen and (min-width:1523px) {
    .main2 {
        margin: 41px 230px 41px 230px;
    }
}

@media screen and (min-width:1750px) {
    .main2 {
        margin: 41px 310px 41px 310px;
    }
}

//!-------------------------MOBILE----------------------!//
@media screen and (max-width:1195px) {
    .main2 {
        flex-direction: column;
        background-color: $background-color;
        color: $words-color;

        div {
            img {
                margin-bottom: 15px;
            }
        }

        .main2__texto {
            h2 {
                color: $words-color;
            }

            p {
                color: $words-color;
            }

            a {
                color: $background-color;
                background-color: $words-color;

                &:hover {
                    color: $words-color;
                    background-color: darken($secondary-color, 10%);
                }
            }
        }
    }
}



@media screen and (max-width:849px) {
    .main2 {
        div {
            img {
                width: 350px;
                height: 350px;
                margin-bottom: 15px;
            }
        }

        .main2__texto {
            h2 {
                font-size: 32px;
                font-weight: 535;
            }

            a {
                font-size: 0.8em;
                padding: 0.3em 1.1em;

            }
        }
    }
}


@media screen and (max-width:627px) {
    .main2 {
        div {
            img {
                width: 250px;
                height: 250px;
                margin-bottom: 15px;
            }
        }

        .main2__texto {



            h2 {
                font-size: 28px;
                font-weight: 535;
            }

            p {
                font-size: 18px;
            }

            a {
                font-size: 0.8em;
                padding: 0.3em 1.1em;

            }
        }
    }
}


@media screen and (max-width:593px) {
    .main2 {
        margin-right: 10px;
        margin-left: 32px;

        .main2__texto {
            margin-right: 10px;

            h2 {
                font-size: 28px;
            }

            p {
                font-size: 18px;
            }

            a {
                font-size: 0.7em;
                padding: 0.2em 1.0em;

            }
        }
    }
}



@media screen and (max-width:350px) {
    .main2 {
        .main2__texto {
            h2 {
                font-size: 23px;
            }

            p {
                font-size: 15px;
            }

            a {
                font-size: 0.7em;
                padding: 0.2em 1.0em;

            }
        }
    }
}

//!-------------------INDEX-SERVICIOS------------------------------!//
@media screen and (max-width:460px) {
    .servicios {
        h2 {
            font-size: 25px;
        }

        .servicios__contenedor {
            div {
                width: 280px;
                height: 422px;

                a {
                    img {
                        width: 280px;
                        height: 210px;
                    }
                }

                p {
                    font-size: 19px;
                }

                h3 {
                    font-size: 15px;
                    font-weight: 900;
                }

                .servicios__contenedor__reserva {
                    font-size: 15PX;
                    font-weight: 600;
                }
            }
        }
    }
}



@media screen and (max-width:350px) {
    .servicios {
        h2 {
            font-size: 25px;
        }

        .servicios__contenedor {
            div {
                width: 250px;
                height: 400px;

                a {
                    img {
                        width: 250px;
                        height: 190px;
                    }
                }

                p {
                    font-size: 19px;
                }

                h3 {
                    font-size: 15px;
                    font-weight: 900;
                }

                .servicios__contenedor__reserva {
                    font-size: 12PX;
                    font-weight: 600;
                }
            }
        }
    }
}

//!----------------INDEX-FORMULARIO----------------------!//

@media screen and (max-width:1650px) {
    .formulario1 {
        .formulario__content {
            .formulario__contact__container {
                .formulario__contact__form {
                    form {
                        display: grid;
                        grid-template-columns: 330px 330px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:952px) {
    .formulario1 {
        .formulario__content {
            .formulario__contact__container {
                .formulario__contact__form {
                    form {
                        display: grid;
                        grid-template-columns: 320px 320px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:740px) {
    .formulario1 {
        .formulario__content {
            .formulario__contact__container {
                .formulario__contact__form {
                    form {
                        display: grid;
                        grid-template-columns: 220px 220px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:565px) {
    .formulario1 {
        .formulario__content {
            .formulario__contactanos {
                font-size: 32px;
            }
        }
    }
}

@media screen and (max-width:540px) {
    .formulario1 {
        .formulario__content {
            .formulario__contact__container {
                .formulario__contact__form {
                    form {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:390px) {
    .formulario1 {
        .formulario__content {
            .formulario__contactanos {
                text-align: center;
                font-size: 35px;
                margin: 0px;
            }
        }
    }
}

@media screen and (max-width:353px) {
    .formulario1 {
        .formulario__content {
            .formulario__contactanos {
                font-size: 24px;
            }
        }
    }
}

//!----------------------NOSOSTRSO-------------------------!//
//!-------------------MOBILE---------------------------!//


@media screen and (max-width:1403px) {
    main {
        .quienes__somos {
            flex-direction: column;
            margin-left: 0.5em;
            margin-right: 1em;

            .quienes__somos__texto {
                margin-top: 0px;
                background-color: $background-color;
                color: $words-color;

                a {
                    // Estilos para el botón
                    background-color: $words-color;
                    color: $background-color;
                }
            }
        }
    }
}


@media screen and (max-width:690px) {
    main {
        .quienes__somos {
            div {
                img {
                    width: 420px;
                    height: 420px;
                }
            }

            .quienes__somos__texto {
                font-size: 20px;
            }
        }
    }
}


@media screen and (max-width:570px) {
    main {
        .quienes__somos {
            div {
                img {
                    width: 330px;
                    height: 330px;
                }
            }

            .quienes__somos__texto {
                font-size: 18px;

                h3 {
                    font-size: 30px;
                }
            }
        }
    }
}


@media screen and (max-width:445px) {
    main {
        .quienes__somos {
            div {
                img {
                    width: 240px;
                    height: 240px;
                }
            }

            .quienes__somos__texto {
                font-size: 15px;

                h3 {
                    font-size: 28px;
                }

                a {
                    font-size: 12px;
                }
            }
        }
    }
}

//!--------------------SERVICIOS-------------------------!//


/*@media screen and (max-width:1362px) {
    main {
        .mensajeria {
            margin-right: 80px;
            margin-left: 80px;
            flex-direction: column;

            .mensajeria__empresarial {
                img {
                    margin-bottom: 35px;
                }
            }
        }

        .mensajeria2 {
            margin-right: 60px;
            margin-left: 80px;
            flex-direction: column;

            .mensajeria__alquiler {
                img {
                    margin-bottom: 35px;
                }
            }
        }
    }
}

@media screen and (max-width:670px) {
    main {
        .mensajeria {
            .mensajeria__empresarial {
                img {
                    height: 450px;
                    width: 450px;
                }
            }
        }

        .mensajeria2 {
            .mensajeria__alquiler {
                img {
                    height: 450px;
                    width: 450px;
                }
            }
        }

    }
}

@media screen and (max-width:634px) {
    main {
        .mensajeria {
            margin-right: 30px;
            margin-left: 10px;

            .mensajeria__empresarial {
                img {
                    display: none;
                }
            }
        }

        .mensajeria2 {
            margin-right: 10px;
            margin-left: 30px;

            .mensajeria__alquiler {
                img {
                    display: none;
                }
            }
        }

    }
}

@media screen and (max-width:517px) {
    main {
        .mensajeria {
            .mensajeria__empresarial__texto {
                h3 {
                    font-size: 30px;
                }
            }
        }

        .mensajeria2 {
            .mensajeria__alquiler__texto {
                h3 {
                    font-size: 30px;
                }
            }
        }
    }
}

@media screen and (max-width:490px) {
    main {
        .mensajeria {
            .mensajeria__empresarial__texto {
                h3 {
                    font-size: 25px;
                }

                h4 {
                    font-size: 20px;
                }

                p {
                    font-size: 20px;
                }

                a {
                    font-size: 20px;
                }
            }
        }

        .mensajeria2 {
            .mensajeria__alquiler__texto {
                h3 {
                    font-size: 25px;
                }

                h4 {
                    font-size: 20px;
                }

                p {
                    font-size: 20px;
                }

                a {
                    font-size: 20px;
                }
            }
        }
    }
}

@media screen and (max-width:415px) {
    main {
        .mensajeria {
            .mensajeria__empresarial__texto {
                h3 {
                    font-size: 20px;
                }

                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 15px;
                }

                a {
                    font-size: 15px;
                }
            }
        }

        .mensajeria2 {
            .mensajeria__alquiler__texto {
                h3 {
                    font-size: 20px;
                }

                h4 {
                    font-size: 15px;
                }

                p {
                    font-size: 15px;
                }

                a {
                    font-size: 15px;
                }
            }
        }
    }
}*/


/* Media queries for smaller devices */
@media screen and (max-width: 1340px) {
    main {
        .mensajeria {
            flex-direction: column;

            /*h3 {
                text-align: center;
            }

            h4 {
                text-align: center;
            }*/

            img {
                margin-bottom: 20px;
            }
        }

        .mensajeria2 {
            flex-direction: column;

            /*h3 {
                text-align: center;
            }

            h4 {
                text-align: center;
            }*/

            img {
                margin-bottom: 20px;
            }
        }

        .Personas {
            flex-direction: column;

            /*h3 {
                text-align: center;
            }

            h4 {
                text-align: center;
            }*/

            img {
                margin-bottom: 20px;
            }
        }
    }
}










//!-----------------FOOTER--------------------------!//

@media screen and (max-width:1500px) {
    footer {
        #remove {
            display: none;
        }
    }
}

@media screen and (max-width:930px) {
    footer {
        #remove {
            display: inline-block;

            a {
                display: flex;
                flex-direction: column;
            }
        }
    }
}



@media screen and (max-width:643px) {
    footer {
        .container__footer {
            .box__footer1 {
                margin: 0% 15% 0% 13%;

                .logo {
                    img {
                        margin: 0% 40% 0% 40%;
                    }
                }
            }
        }

    }
}

@media screen and (max-width:534px) {
    footer {
        .container__footer {
            .box__footer1 {
                display: none;
            }
        }
    }
}

@media screen and (max-width:400px) {
    footer {
        .container__footer {
            .box__footer {
                margin: 0% 5% 0% 22%;
            }
        }
    }
}

//!------------------Clientes-------------------------!//

@media screen and (max-width:386px) {
    main {
        .clientes {
            h1 {
                font-size: 38px;
            }

            h4 {
                font-size: 18px;
            }
        }
    }
}