/*---------------VARIABLES---------------*/

$words-color:white;
$background-color: rgb(204, 18, 18);
/* Variables */
$main-font: 'Quicksand', sans-serif;
$main-color: aliceblue;
$secondary-color: rgb(139, 5, 32);
$main-padding: 0;
$main-margin: 41px 95px 41px 120px;
$main-border-radius: 10px;

/*$main-font: 'Open Sans', sans-serif;*/



@mixin flex-clasic($flex, $align, $justify){
    display: $flex;
    align-items: $align;
    justify-content: $justify;
}


@mixin flex-1($flex, $align){
    display:$flex;
    align-items: $align;
}

@mixin flex-2($flex, $direction, $justify, $align){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-3($flex, $wrap, $justify){
    display: $flex;
    flex-wrap: $wrap;
    justify-content: $justify;
}

/* Mixins */
@mixin flex-basic($display, $align, $justify) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-column($align, $justify) {
  @include flex-basic(flex, $align, $justify);
  flex-direction: column;
}

@mixin flex-wrap($justify) {
  @include flex-basic(flex, center, $justify);
  flex-wrap: wrap;
}