/*---------------VARIABLES---------------*/

$words-color:white;
$background-color: rgb(204, 18, 18);



@mixin flex-clasic($flex, $align, $justify){
    display: $flex;
    align-items: $align;
    justify-content: $justify;
}


@mixin flex-1($flex, $align){
    display:$flex;
    align-items: $align;
}

@mixin flex-2($flex, $direction, $justify, $align){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-3($flex, $wrap, $justify){
    display: $flex;
    flex-wrap: $wrap;
    justify-content: $justify;
}
